@import "tailwindcss";

@theme {
  /* framer motion의 transition */
  --animate-show-up: show-up 0.5s ease-in-out;

  @keyframes show-up {
    from {
      /* initial => y, opacity  */
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      /* animate => y, opacity  */
      transform: translateY(0);
      opacity: 1;
    }
  }
}
